<!DOCTYPE>
<html lang='fr'>
    <head>
        <title>Tp Fil Rouge</title>
        <meta charset = 'utf-8'/>
        {% block stylesheets %}
            <link type="text/css" href = "{{ asset('bundles/SkillsBundle/css/styleVoir.css') }}" rel="stylesheet" media="all" />
			<link type="text/css" href = "{{ asset('bootstrap-3.1.1-dist/css/bootstrap.css') }}" rel="stylesheet" media="all" />
        {% endblock %}
    </head>
    <body>
        <table>
            <theader>
                <th>Nom</th>
                <th>Prénom</th>
                <th id="adresse">Adresse</th>
                <th>Code Postal</th>
                <th>Ville</th>
                <th>E-Mail</th>
                <th>Disponibilité</th>
                </theader>
            <tbody>
               {% for user in listeUsers %}
					<tr id="listeUsers">
							<td>{{user.nom}}</td>
							<td>{{user.prenom}}</td>
							<td id="adresse">{{user.adresse}}
							<td>{{user.cp}}</td>
							<td>{{user.ville}}</td>
							<td>{{user.email}}</td>
							<td>{%if user.dispo==1%}
									Disponible
								{%else%}
									Non Disponible
								{%endif%}
							</td>
							{%if user.id==5%} 
							<td><a href="{{path('imie_skills_voir', {'id':user.id}) }}" class="btn">
								  <i class="icon-edit"></i>
								  modifier le user
								</a>
							</td>
							{%endif%}
					</tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>